$blue-primary: #006699;
//Utility classes

.landing-page {
  background: radial-gradient(50% 50% at 50% 50%, #15112f 0%, #000 100%);
  display: flex;
  justify-content: center;
  &__wrapper {
    display: flex;
    padding: 38px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    width: 65%;
  }

  &__header {
    color: #fff;
    text-align: center;
    font-size: 64px;
    &--accent {
      color: #7058ff;
    }
  }

  &__description {
    color: #fff;
    text-align: center;
    font-size: 32px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 14px 23px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 28px;
    background: #7058ff;
    color: #fff;
    text-align: center;
    font-size: 20px;
  }

  &__image {
    height: auto;
    width: 100%;
    border: 1px solid #7058ff;
    background-image: linear-gradient(to bottom, transparent, #837960),
      url("../../assets/test-hero.png");
  }
}

// put into its own component
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: var(--color-bg-compliment);
  height: 100%;
  display: grid;
  gap: 1.5em;
  padding: 1.5em;
  grid-template-columns: 1.5fr 1fr;

  &__left {
    height: calc(100vh - 4rem - var(--navbar-size));
    border-radius: 0.25rem;

    //wtf if I dont add this I cant get y-overflow scrolling in
    overflow-y: auto;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
  }

  &__right {
    height: calc(100vh - 5.5rem - var(--navbar-size));

    background-color: var(--color-bg);
    //border: 0.5px solid black;
    // display: flex;
    padding: 0.75em;
    overflow: auto;
    border-radius: 0.25rem;
  }

  &__labels {
    display: grid;
    // grid-template-columns: 2fr 2fr 1px 1fr 1fr 4rem;
    grid-template-columns: 1.5rem 4fr 4fr 0 1.5fr 0.5fr 3rem;

    // justify-items: center;
    // padding-left: 1.25rem;
    // justify-content: space-evenly;
    border-bottom: 0.125rem solid var(--color-border);
    // padding-top: 0.5rem;
    // padding-bottom: 0.5rem;
    padding: 0.75rem;

    //background-color: #006699;
    h1 {
      font-size: 0.75rem;
      // padding-left: 1.25rem;
      //border: 1px solid black;
    }
  }
  &__input-row-area {
    flex-grow: 1;
    padding: 0.75em;
    overflow-y: scroll;
    height: 100%;
  }

  &__input-row {
    display: grid;
    align-items: center;
    margin-bottom: 1rem;
    grid-template-columns: 1.5rem 4fr 4fr 0 1.5fr 0.5fr 3rem;
    //background-color: pink;
    button {
      display: flex;
      background-color: transparent;
      justify-content: center;
      border: none;
      cursor: pointer;
    }

    input {
      // width: 176px;
      width: 90% !important;
      height: 2rem;
      margin-right: 1rem;
    }

    &-drag-icon {
      cursor: grab !important;
    }
  }

  &__button-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0.0625rem solid var(--color-border);
    border-bottom: 0.0625rem solid var(--color-border);
    height: 5em;

    button {
      cursor: pointer;
    }

    &-left {
      height: 100%;
      border-right: 0.0625rem solid var(--color-border);
      padding: 0 2em;
    }

    &-right {
      height: 100%;
      border-left: 0.0625rem solid var(--color-border);
      padding: 0 2em;

      :first-child {
        margin-right: 1em;
      }
    }
    button {
      border-radius: 4px;
      background: $blue-primary;
      padding: 4px 12px;
      gap: 8px;
      border: none;
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__schema-inputs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0.75em;
    //background-color: navy;
  }

  &__schema-input-wrapper {
    //background-color: pink;
    //border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

    label {
      margin-right: 0.75em;
    }
  }
}

// /* width */
// ::-webkit-scrollbar {
//   width: 0.75rem;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background-color: var(--color-border);
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background-color: var(--color-text);
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background-color: var(--color-text);
//   opacity: 0.8;
// }
