$blue-primary: #006699;
//Utility classes
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: var(--color-bg-compliment);
  height: 100%;
  display: grid;
  gap: 1.5em;
  padding: 1.5em;
  grid-template-columns: 1fr 1fr;

  &__left {
    height: calc(100vh - 4rem - var(--navbar-size));
    border-radius: 0.25rem;

    //wtf if I dont add this I cant get y-overflow scrolling in
    overflow-y: auto;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
  }

  &__right {
    height: calc(100vh - 6rem - var(--navbar-size));

    background-color: var(--color-bg);
    //border: 0.5px solid black;
    display: flex;
    padding: 0.75em;
    overflow: auto;
    border-radius: 0.25rem;

    &-wrapper {
      padding: 0.75em;
    }
  }

  &__labels {
    display: grid;
    grid-template-columns: 1fr 1fr 4rem;
    // justify-items: center;
    padding-left: 1.25rem;
    // justify-content: space-evenly;
    border-bottom: 0.125rem solid var(--color-border);
    padding-top: 2em;
    padding-bottom: 0.5em;

    //background-color: #006699;
    h1 {
      font-size: 0.75em;
      //border: 1px solid black;
    }
  }
  &__input-row-area {
    flex-grow: 1;
    padding: 0.75em;
    overflow-y: scroll;
    height: 100%;
  }

  &__input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    //background-color: pink;
    button {
      display: flex;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    input {
      // width: 176px;
      width: 90% !important;
      height: 2rem;
    }

    &-drag-icon {
      cursor: grab !important;
    }
  }

  &__button-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0.0625rem solid var(--color-border);
    border-bottom: 0.0625rem solid var(--color-border);
    height: 5em;
    &-left {
      height: 100%;
      border-right: 0.0625rem solid var(--color-border);
      padding: 0 2em;
    }

    &-right {
      height: 100%;
      border-left: 0.0625rem solid var(--color-border);
      padding: 0 2em;

      :first-child {
        margin-right: 1em;
      }
    }
    button {
      border-radius: 4px;
      background: $blue-primary;
      padding: 4px 12px;
      gap: 8px;
      border: none;
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__schema-inputs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0.75em;
    //background-color: navy;
  }

  &__schema-input-wrapper {
    //background-color: pink;
    //border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

    label {
      margin-right: 0.75em;
    }
  }
}
